<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
<head th:replace="fragments/header :: header">
    <title>주문 상품 등록</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div th:replace="fragments/bodyHeader :: bodyHeader" />
<form method="post" th:object="${orderItemForm}" enctype="multipart/form-data">
    <div>
        <label for="name">상품명:</label>
        <input type="text" id="name" name="name" th:field="*{name}">
    </div>
    <div>
        <label for="price">가격:</label>
        <script type="text/javascript">
        $(document).ready(function() {
            $("#thumbnail").change(function () {
                uploadImage();
            });
        });
        function uploadImage(input) {
            if(input.files && input.files[0]) {
            var reader = new FileReader();
            reader.onload = function (e) {
               document.getElementById('thumbnail-preview').src = e.target.result;
            };
            reader.readAsDataURL(input.files[0]);
            } else {
            document.getElementById('thumbnail-preview').src = "";
            }
        }
    </script>
        <input type="number" id="price" name="price" th:field="*{price}">
    </div>
    <div>
        <label for="count">수량:</label>
        <input type="number" id="count" name="count" th:field="*{stockQuantity}">
    </div>
    <div>
        <label for="thumbnail">섬네일:</label>
        <input type="file" onchange="uploadImage(this)" id="thumbnail" name="thumbnail">
    </div>
    <div>
        <label>미리보기:</label>
        <img id="thumbnail-preview">
    </div>
    <button type="submit">등록</button>
</form>
</body>
</html>