<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
<head th:replace="fragments/header :: header">
    <title>주문 상품 등록</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<script type="text/javascript">
        $(document).ready(function() {
            $("#thumbnail").change(function () {
                uploadImage();
            });
        });
        fileList = []
        function uploadImage() {
            var fileData = new FormData();
            fileData.append("file", $("#thumbnail")[0].files[0]);
            console.log(fileData);
            $.ajax({
                url: "/thumbnail/upload",
                type: "POST",
                data: fileData,
                processData: false,
                contentType: false,
                success: function (response) {
                    $("#thumbnail-preview").attr("src", response);
                    console.log(response);
                },
                error: function (e) {
                    console.log(e);
                }
            });
        }
    </script>
<body>
<div th:replace="fragments/bodyHeader :: bodyHeader" />
<form method="post" th:object="${orderItemForm}" enctype="multipart/form-data">
    <div>
        <label for="name">상품명:</label>
        <input type="text" id="name" name="name" th:field="*{name}">
    </div>
    <div>
        <label for="price">가격:</label>
        <input type="number" id="price" name="price" th:field="*{price}">
    </div>
    <div>
        <label for="count">수량:</label>
        <input type="number" id="count" name="count" th:field="*{stockQuantity}">
    </div>
    <div>
        <label for="thumbnail">섬네일:</label>
        <input type="file" id="thumbnail" name="thumbnail">
    </div>
    <div>
        <label>미리보기:</label>
        <img id="thumbnail-preview" th:if="${thumbnail != null}" th:src="@{|/uploads/${thumbnail}|}">
    </div>
    <button type="submit">등록</button>
</form>
</body>
</html>