<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" />
<body>
<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader"/>
    <div>
            <div>
                <p id="ttl" th:text="${board.ttl}">제목입니다.</p>
            </div>
            <div>
                <p id="boardCategory" th:text="${boardCategories}">카테고릐</p>
            </div>
            <div id="content">
                <p th:utext="${board.content}">내용입니다.</p>
            </div>
            <div class="mb-3">
                <li style ="height: 58px" th:each="file : ${files}" th:if="${file.id ne null}">
                    <a th:text="${file.originFileName}" th:href="@{/fileDownload/{id}(id = ${file.id})}">hwp</a>
                </li>
            </div>
            <a class="btn btn-primary" th:href="@{/boards (pageNumber=${pageNumber})}" value="목록">목록</a>
    </div>
    <div th:replace="fragments/footer :: footer"/>
</div> <!-- /container -->
</body>
</html>