<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" />
<script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
<script type="text/javascript" src="/smarteditor/js/HuskyEZCreator.js" charset="utf-8"></script>
<script>
    let oEditors = []

    smartEditor = function() {
      nhn.husky.EZCreator.createInIFrame({
        oAppRef: oEditors,
        elPlaceHolder: "content",
        sSkinURI: "/smarteditor/SmartEditor2Skin.html",
        fCreator: "createSEditor2"
      })
    }

    $(document).ready(function() {
       smartEditor();
       $("#form").submit(function(event) {
            oEditors.getById["content"].exec("UPDATE_CONTENTS_FIELD", [])
            event.preventDefault();
            var formData = $(this).serialize();
            $.ajax({
              type: "POST",
              url: "/boards/new",
              data: formData,
              success: function(response) {
                location.href="/boards";
              },
              error: function(xhr, status, error) {
                alert("정상적인 요청이 아닙니다");
              }
            });
       });


    })
  </script>
<body>
<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader"/>
    <div>
        <form id="form" th:action="@{/boards/new}" th:object="${form}" method="post">
            <input type="hidden" th:field="*{id}"/>
            <div>
                <input type="text" th:field="*{ttl}" id="ttl" placeholder="제목을 입력해주세요"/>
            </div>
            <div>
                <select id="boardCategory_select">
                    <option th:each="bc : ${boardCategories}" th:value="${bc?.id}"
                            th:utext="${bc?.id}">
                    </option>
                </select>
            </div>
            <div id="smarteditor">
                <textarea name="content" id="content" th:text="*{content}"
                  rows="20" cols="10"
                  placeholder="내용을 입력해주세요"
                  style="width: 500px"></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
    <div th:replace="fragments/footer :: footer"/>
</div> <!-- /container -->
</body>
</html>